
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite styles */

.shine-layer {
    background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0) 60%
    );
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  
  .shine-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    transform: skewX(-20deg);
  }
  
  .shine-btn:hover::before {
    left: 130%;
    transition: left 0.7s ease-in-out;
  }
  

